body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.spark {
    z-index: auto;
}
.nav_prop {
  top: 0;
}
.nav-style {
    font-weight: 600;
    font-size: 1.5em;
    font-family: 'Anton', sans-serif;
    letter-spacing: 3px;
    color: #282A2B;
    margin-bottom: 0em;
}
.nav-styles {
    font-family: 'Patua One', cursive;
}

.mySlides { display: none; }

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #E3243E;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 8s;
  animation-name: fade;
  animation-duration: 8s;
}

@-webkit-keyframes fade {
  from {opacity: .9}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .9}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.color-rotate {
  filter:hue-rotate(0deg);
  color:linear-gradient(45deg,#0f8,#08f);
  animation:hue 10000ms infinite linear;
}

@keyframes spinify {
  0% {
    transform: translate(0px,0px);

  }
  33% {
    transform: translate(0px,24px);
    border-radius:100%;
    width:10px;
    height:10px;

  }
   66% {
    transform:translate(0px,-16px);
  }

   88% {
    transform:translate(0px,4px);

  }
  100% {
    transform:translate(0px,0px);
  }
}
@keyframes hue{
  0%{filter: hue-rotate(0deg);}
  100%{filter:hue-rotate(360deg);}

}

.spark_info {
  text-align: center;
  color: #9CADA6;
  font-weight: bold;
  background-color: rgba(250, 247, 246, 0.2);
}

.image {
  height: 600px;
  width: 100%;
  position: absolute;
  background-size: cover;
  z-index: auto;
  opacity: 0.95;
  padding: 0;
}

.below {
  position: absolute;
  padding: 0;
  width: 100%;
  background-size: cover;
  background-color: #56575D;
}

.below section {
  padding-top: 24px;
  padding-bottom: 20px;
  text-align: center;
  background-size: cover;
  color: white;
}

.menust {
  list-style: none;
  color: #EBF2F5;
  padding-bottom: 5px;
  width: 100%;
  padding-left: 0px;
}

.image_below {
  padding-top: 5px;
  padding-bottom: 25px;
}

#img_below {
  height: 150px;
  width: 100%;
}

.contact_us {
  padding-top: 20px;
  background-size: cover;
  background-color: #EBF2F5;
  width: 100%;
  padding-bottom: 15px;
}

.contact_us h1 {
  text-transform: uppercase;
  font-size: 2.0em;
  padding-top: 20px;
  font-weight: 500;
  font-family: "Patua One",cursive;
}

.footer {
  background-color: #56575D;
  width: 100%;
  color: white;
}

.head {
  padding-bottom: 20px;
  padding-top: 10px;
  text-transform: uppercase;
}

.social {
  display: inline-block;
  padding-right: 5px;
}

.end_footer {
  background-color: #1F2121;
  width: 100%;
  color: white;
  padding-top: 10px;
  text-align: center;
}

.client {
  padding-top: 10px;
}
